We want to sell our Sales AI software. However, not all companies want to buy them, and there are some that can't afford them. 

Thus, it is very important to idenfity the best customer base, so that most of our company's energy is spend on pitching to such customers, at least initially when we don't have any customers. 

The below clustering model will provide with the best set of companies that are most likely to purchase our product.

In [828]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import matplotlib.pyplot as plt
import seaborn as sns

Now, we will import data and perform some Exploratory Data Analysis (EDA)

In [829]:
inc_5000_data = pd.read_csv("/kaggle/input/inc-5000-companies/INC 5000 Companies 2019.csv")

In [830]:
# function to understand the dataset
def understand_dataset(dataset):
    print("Type = " +str(type(dataset))+"\n")
    print("Shape = "+str(dataset.shape)+"\n")
    print("Head : \n\n"+str(dataset.head())+"\n\n")
    print(str(dataset.info())+"\n\n")
    print("No.of unique values :\n\n"+str(dataset.nunique(axis=0))+"\n\n")
    print("Description :\n\n"+str(dataset.describe())+"\n\n")
    print("Unique Industries :\n\n"+str(dataset['industry'].unique())+"\n")
    print("Revenue Scale "+str(inc_5000_data['revenue'].apply(lambda x:x.split(' ')[1]).sort_values().unique())+"\n")
    #Since no categorical variables, no need to have the above line
    
    print("Null count :\n\n"+str(dataset.isnull().sum()))
    
understand_dataset(inc_5000_data)

Type = <class 'pandas.core.frame.DataFrame'>

Shape = (5012, 14)

Head :

   rank                                   profile               name  \
0     1      https://www.inc.com/profile/freestar           Freestar
1     2   https://www.inc.com/profile/freightwise        FreightWise
2     3  https://www.inc.com/profile/ceces-veggie  Cece's Veggie Co.
3     4      https://www.inc.com/profile/ladyboss           LadyBoss
4     5        https://www.inc.com/profile/perpay             Perpay

                         url state       revenue    growth_%  \
0        http://freestar.com    AZ  36.9 Million  36680.3882
1  http://freightwisellc.com    TN  33.6 Million  30547.9317
2   http://cecesveggieco.com    TX  24.9 Million  23880.4852
3        http://ladyboss.com    NM  32.4 Million  21849.8925
4          http://perpay.com    PA  22.5 Million  18166.4070

                       industry  workers  previous_workers  founded  \
0       Advertising & Marketing     40.0                 5     2015
1    Logistics & Transportation     39.0                 8     2015
2               Food & Beverage    190.0                10     2015
3  Consumer Products & Services     57.0                 2     2014
4                        Retail     25.0                 6     2014

   yrs_on_list         metro          city
0            1       Phoenix       Phoenix
1            1     Nashville     Brentwood
2            1        Austin        Austin
3            1           NaN   Albuquerque
4            1  Philadelphia  Philadelphia


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5012 entries, 0 to 5011
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rank              5012 non-null   int64
 1   profile           5012 non-null   object
 2   name              5012 non-null   object
 3   url               5012 non-null   object
 4   state             5012 non-null   object
 5   revenue           5012 non-null   object
 6   growth_%          5012 non-null   float64
 7   industry          5012 non-null   object
 8   workers           5011 non-null   float64
 9   previous_workers  5012 non-null   int64
 10  founded           5012 non-null   int64
 11  yrs_on_list       5012 non-null   int64
 12  metro             4199 non-null   object
 13  city              5012 non-null   object
dtypes: float64(2), int64(4), object(8)
memory usage: 548.3+ KB
None


No.of unique values :

rank                4999
profile             5012
name                5012
url                 5012
state                 51
revenue             1015
growth_%            5006
industry              27
workers              635
previous_workers     443
founded               83
yrs_on_list           14
metro                 70
city                1558
dtype: int64


Description :

              rank      growth_%        workers  previous_workers  \
count  5012.000000   5012.000000    5011.000000       5012.000000
mean   2499.628292    454.680059     242.783077        111.687151
std    1443.232009   1284.288709    2800.165478       1073.878175
min       1.000000     52.169100       0.000000          1.000000
25%    1249.750000     90.562500      22.000000          8.000000
50%    2497.500000    157.530650      48.000000         20.000000
75%    3749.250000    330.427250     116.000000         50.000000
max    5000.000000  36680.388200  155000.000000      53000.000000

           founded  yrs_on_list
count  5012.000000  5012.000000
mean   2005.445531     2.813647
std      30.310632     2.265986
min       0.000000     1.000000
25%    2003.000000     1.000000
50%    2009.000000     2.000000
75%    2012.000000     4.000000
max    2016.000000    14.000000


Unique Industries :

['Advertising & Marketing' 'Logistics & Transportation' 'Food & Beverage'
 'Consumer Products & Services' 'Retail' 'Health' 'Telecommunications'
 'Financial Services' 'Computer Hardware' 'Software' 'Energy'
 'Government Services' 'Real Estate' 'Manufacturing' 'Media'
 'Construction' 'IT System Development' 'Travel & Hospitality' 'Security'
 'IT Management' 'Human Resources' 'Environmental Services' 'Insurance'
 'Business Products & Services' 'Education' 'Engineering' 'IT Services']

Revenue Scale ['Billion' 'Million']

Null count :

rank                  0
profile               0
name                  0
url                   0
state                 0
revenue               0
growth_%              0
industry              0
workers               1
previous_workers      0
founded               0
yrs_on_list           0
metro               813
city                  0
dtype: int64

Based on the above view of data, we decide to proceed as following :

1) We eliminate columns like profile, url, state, previous_workers, yrs_on_list, metro and city

2) We will make 'Name' as the index of this dataset

3) We will convert 'revenue' from text to numeric format

4) We will convert 'founded' to 'years_active' 

5) We will only filter for 1 industry i.e. 'software' for this exercise

In [831]:
inc_5000_data = inc_5000_data.drop(['profile', 'url', 'state', 'previous_workers', 'yrs_on_list', 'metro' , 'city'],axis=1)

In [832]:
inc_5000_data = inc_5000_data.set_index('name')

In [833]:
inc_5000_data['revenue']

name
Freestar                  36.9 Million
FreightWise               33.6 Million
Cece's Veggie Co.         24.9 Million
LadyBoss                  32.4 Million
Perpay                    22.5 Million
                              ...
Village Plumbing & Air    15.8 Million
Real Restoration Group    11.6 Million
Naval Systems             29.7 Million
HNM Systems                8.8 Million
Vivayic                    4.5 Million
Name: revenue, Length: 5012, dtype: object

In [834]:
inc_5000_data['revenue'] = inc_5000_data['revenue'].apply(lambda x:float(x[:-8]) * pow(10,9) if 'Billion' in x else float(x[:-8]) * pow(10,6))

In [835]:
inc_5000_data['years_active'] = 2022 - inc_5000_data['founded']
inc_5000_data = inc_5000_data.drop(['founded'],axis=1)

In [836]:
inc_5000_data = inc_5000_data[inc_5000_data['industry'] == 'Software']
inc_5000_data = inc_5000_data.drop(['industry'],axis=1)

In [837]:
inc_5000_data

                    rank      revenue   growth_%  workers  years_active
name
ConvertKit            23   13800000.0  7965.9741     37.0             9
Printify              24   10500000.0  7926.4244     70.0             7
Awardco               25    8900000.0  7478.1478     42.0             7
LumenAd               29   11800000.0  7045.3631     60.0             8
Beeswax               46   16900000.0  5768.1833     56.0             8
...                  ...          ...        ...      ...           ...
Corevist            4961    3300000.0    53.2110     15.0            14
WorkForce Software  4964  100900000.0    53.1734    550.0            23
ClearlyRated        4969    4100000.0    52.9602     33.0            19
Film Solutions      4983    7400000.0    52.6491     47.0            16
Distillery          4991    6100000.0    52.5232     11.0            10

[461 rows x 5 columns]

This is the data on which we will perform Clustering

## Clustering

In [838]:
# Standard scaling (Usually from 0 to 1) is mandatory for a clustering problem

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
inc_5000_data_cluster = pd.DataFrame(scaler.fit_transform(inc_5000_data),columns=inc_5000_data.columns,index=inc_5000_data.index)

In [839]:
inc_5000_data_cluster

                        rank   revenue  growth_%   workers  years_active
name
ConvertKit          0.000000  0.030499  1.000000  0.020612      0.057143
Printify            0.000201  0.021970  0.995002  0.040047      0.000000
Awardco             0.000403  0.017834  0.938355  0.023557      0.000000
LumenAd             0.001208  0.025330  0.883665  0.034158      0.028571
Beeswax             0.004630  0.038511  0.722272  0.031802      0.028571
...                      ...       ...       ...       ...           ...
Corevist            0.993961  0.003360  0.000087  0.007656      0.200000
WorkForce Software  0.994565  0.255622  0.000082  0.322733      0.457143
ClearlyRated        0.995572  0.005428  0.000055  0.018257      0.342857
Film Solutions      0.998390  0.013957  0.000016  0.026502      0.257143
Distillery          1.000000  0.010597  0.000000  0.005300      0.085714

[461 rows x 5 columns]

In [840]:
# function to understand the dataset
def understand_dataset_cluster(dataset):
    print("Head : \n\n"+str(dataset.head())+"\n\n")
    print(str(dataset.info())+"\n\n")    
    print("Null count :\n\n"+str(dataset.isnull().sum()))
    
understand_dataset_cluster(inc_5000_data_cluster)

Head :

                rank   revenue  growth_%   workers  years_active
name
ConvertKit  0.000000  0.030499  1.000000  0.020612      0.057143
Printify    0.000201  0.021970  0.995002  0.040047      0.000000
Awardco     0.000403  0.017834  0.938355  0.023557      0.000000
LumenAd     0.001208  0.025330  0.883665  0.034158      0.028571
Beeswax     0.004630  0.038511  0.722272  0.031802      0.028571


<class 'pandas.core.frame.DataFrame'>
Index: 461 entries, ConvertKit to Distillery
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          461 non-null    float64
 1   revenue       461 non-null    float64
 2   growth_%      461 non-null    float64
 3   workers       461 non-null    float64
 4   years_active  461 non-null    float64
dtypes: float64(5)
memory usage: 21.6+ KB
None


Null count :

rank            0
revenue         0
growth_%        0
workers         0
years_active    0
dtype: int64

In [841]:
from sklearn.cluster import KMeans

# Create a KMeans model with 4 clusters
kmeans = KMeans(n_clusters=4,random_state=1)

# Use the fit_predict method to cluster the data
clusters = kmeans.fit_predict(inc_5000_data_cluster)

In [842]:
company_names = pd.Series(inc_5000_data_cluster.index)
company_names

0              ConvertKit
1                Printify
2                 Awardco
3                 LumenAd
4                 Beeswax
              ...
456              Corevist
457    WorkForce Software
458          ClearlyRated
459        Film Solutions
460            Distillery
Name: name, Length: 461, dtype: object

In [843]:
cluster_no = pd.Series(clusters,name='Cluster')
cluster_no

0      2
1      2
2      2
3      2
4      2
      ..
456    3
457    3
458    3
459    3
460    3
Name: Cluster, Length: 461, dtype: int32

In [844]:
Company_cluster = pd.concat([inc_5000_data.reset_index(),cluster_no],axis=1)

In [845]:
Company_cluster

,name,rank,revenue,growth_%,workers,years_active,Cluster
0,ConvertKit,23,13800000.0,7965.9741,37.0,9,2
1,Printify,24,10500000.0,7926.4244,70.0,7,2
2,Awardco,25,8900000.0,7478.1478,42.0,7,2
3,LumenAd,29,11800000.0,7045.3631,60.0,8,2
4,Beeswax,46,16900000.0,5768.1833,56.0,8,2
...,...,...,...,...,...,...,...
456,Corevist,4961,3300000.0,53.2110,15.0,14,3
457,WorkForce Software,4964,100900000.0,53.1734,550.0,23,3
458,ClearlyRated,4969,4100000.0,52.9602,33.0,19,3
459,Film Solutions,4983,7400000.0,52.6491,47.0,16,3
460,Distillery,4991,6100000.0,52.5232,11.0,10,3

In [846]:
def understand_dataset_cluster(dataset):
    print(str(dataset.describe())+"\n\n")    

for c in range(4):
    print("Cluster "+str(c))
    understand_dataset_cluster(Company_cluster[Company_cluster['Cluster'] == c].drop(['Cluster'],axis=1))
    print("\nCompany List - "+str(list(Company_cluster[Company_cluster['Cluster'] == c].name))+"\n")

Cluster 0
              rank       revenue    growth_%      workers  years_active
count    26.000000  2.600000e+01   26.000000    26.000000     26.000000
mean   2862.230769  1.299385e+08  162.988200   694.730769     18.692308
std    1050.272586  8.455230e+07  114.121889   357.817334      5.836226
min     706.000000  7.300000e+06   57.091200    43.000000     11.000000
25%    2222.000000  7.525000e+07   96.535625   502.750000     15.000000
50%    2722.500000  1.105500e+08  140.795250   625.000000     18.500000
75%    3614.000000  1.560000e+08  181.067450   894.250000     21.750000
max    4836.000000  3.889000e+08  619.234600  1700.000000     37.000000



Company List - ['Zoom Video Communications', 'Legwork Software', 'iTechArt Group', 'DiscoverOrg', 'Ivalua', 'Smarsh', 'MediaAlpha', 'AvidXchange', 'Modernizing Medicine', 'WebPT', 'Diligent Corporation', 'AgileThought', 'Trintech', 'Turbonomic', 'Kyriba', 'Chrome River', 'LLamasoft', 'iCIMS', 'Workfront', 'Gear', 'Bigcommerce', 'Coherent Solutions', 'Code42', '3Pillar Global', 'ipipeline', 'Acquia']

Cluster 1
              rank       revenue    growth_%     workers  years_active
count   191.000000  1.910000e+02  191.000000  191.000000    191.000000
mean   2011.020942  1.414450e+07  222.157275   94.628272     13.031414
std     607.691386  1.522666e+07   79.825549  103.431712      3.856513
min     845.000000  2.000000e+06  105.495000    2.000000      7.000000
25%    1531.000000  4.300000e+06  156.737950   28.000000     10.000000
50%    1962.000000  7.800000e+06  204.857500   53.000000     12.000000
75%    2516.000000  1.800000e+07  270.048800  119.500000     15.000000
max    3380.000000  9.010000e+07  501.399000  600.000000     26.000000



Company List - ['HQSoftware', 'Motus', 'FrontRunnerHC', 'Shockoe.com', 'Engage3', 'CallRail', 'SaaSOptics', 'Repsly', 'PoliteMail Software', 'Ceros', 'Buildout', 'Vinformatix', 'Verato', 'BloomNation', 'Visual Computer Solutions', 'Clearview Business Intelligence', 'The Aspire Software Company', 'Tipalti', 'Ncontracts', 'Ben Kinney Real Estate Team', 'KBMax', 'ObservePoint', 'Ventive', 'Carrot', 'Modern Message', 'Nebulaworks', 'PDQ.com Corporation', 'Blue Label Labs', 'Banyan Hills Technologies', 'Reltio', 'RapidOps', 'Calldrip', 'TokenEx', 'Tango Card', 'Motifworks', 'Tiger Analytics', 'No Limit Agency', 'OrderMyGear', 'House Advantage', 'DockYard', 'Star Lab Corp.', 'Expero', 'Boomset', 'Devbridge', 'Softeq Development', 'Tarmac', 'Flocknote', 'Rx Savings Solutions', 'Saviynt', 'Thycotic', 'ERP Maestro', 'Intuitive Web Solutions', 'Stack Construction Technologies', 'BigBinary', 'ProjectManager.com', 'Taulia', 'KensieMae', 'Kingsmen Software', 'FormAssembly', 'Sauce Labs', 'Callibrity Solutions', 'SalesLoft', 'Stride Consulting', 'ESO', 'Origami Risk', '123ws.com', 'Seller Labs', 'WillowTree', 'MAS Global Consulting', 'Seal Software', 'Cambay Consulting', 'Sourcetoad', 'Passio Technologies', 'Tripleseat', 'Sonatype', 'Flexton', 'Tresata', 'Red Oak Compliance Solutions Holdings', 'Files.com', 'SilverCloud', 'Plutora', 'Credit Repair Cloud', 'Rootstrap', 'ClearCompany', 'Nam Technologies', 'Unosquare', 'Rhino Fleet Tracking', 'Higher Logic', 'InRhythm', 'Brandlive', 'ConnXus', 'Trade Ideas', 'ProfitOptics', 'Conversica', 'Hindsight Software Solutions', 'Reputation.com', 'Sigma Tax Pro', 'Sportsdigita', 'Apto', 'Retail Cloud Technologies', 'SimplePart', 'Back at You', 'Futuri Media', 'ProviderTrust', 'Inbenta Holdings', 'OrthoFi', 'Dribbble', 'Ceterus', 'defi solutions', 'Praxent', 'Quid', 'Aureus Techsystems', 'YCharts', 'Qwinix Technologies', 'MJ Freeway', 'SkuVault', 'Innovecs', 'Dogtown Media', 'CoConstruct', 'Book4Time', 'Webspec Design', 'Akshaya', 'Intelligent Video Solutions', 'truDigital Signage', 'Veritas Prime', 'Casino Cash Trac', 'ecUtopia', 'Jahnel Group', 'AchieveIt', 'GPS Trackit', 'Levelset', 'Agilis Systems', 'Hawksearch', 'Alight Analytics', 'MediSked', 'Updox', 'AMC Bridge', 'Passage Technology', 'Orbit Logic', 'SellerCloud', 'Mavice', 'Canvs', 'Myriad Mobile', 'Orases', 'Kajabi', 'Less Annoying Software', 'Clutch Holdings', 'SkyVerge', 'Franpos', 'Tridiuum', 'Woodridge Advisors', 'ReviewPush', 'Fluidmesh Networks', 'Criteria (Los Angeles, CA)', 'MomentFeed', 'Tin Roof Software', 'Avatria', 'Grover Gaming', 'UserTesting', 'Test Double', 'Bolt on Technology', 'Synapse Studios', 'Experion Technologies', 'Prolific Interactive', 'Modus Create', 'Instasize', 'New Vision', 'Phobio', 'HSTpathways', 'Eight Bit Studios', 'ClickDimensions', 'Stoneridge Software', 'Mobilewalla', 'SmarterHQ', 'OpenWater Software', 'Parkmobile', 'Output', 'SketchDeck', 'Fonteva', 'PowerReviews', 'Aventri', '365 Retail Markets', 'ten24', 'Rentec Direct', 'ConveyIQ', 'Vennli', 'Forever.com', 'CloudMyBiz', 'Viralstyle.com', 'IGNW', 'Differential']

Cluster 2
              rank       revenue     growth_%     workers  years_active
count   108.000000  1.080000e+02   108.000000  108.000000    108.000000
mean    463.398148  1.397593e+07  1696.062784   95.490741      9.666667
std     305.749055  1.795508e+07  1665.239197  103.954923      2.113596
min      23.000000  2.000000e+06   371.268400    2.000000      7.000000
25%     212.000000  3.975000e+06   614.248875   31.500000      8.000000
50%     397.000000  7.650000e+06  1150.582700   57.000000      9.000000
75%     711.500000  1.475000e+07  1940.883000  102.750000     10.250000
max    1121.000000  9.460000e+07  7965.974100  574.000000     19.000000



Company List - ['ConvertKit', 'Printify', 'Awardco', 'LumenAd', 'Beeswax', 'Podium', 'Pax8', 'Terminus', 'TradePending', 'Fetch Rewards', 'Pendo', 'Core Software Technologies', 'Asset Panda', 'OwnBackup', 'Total Expert', 'Cognira', 'Copper', 'Kinsmen Group', 'Waggl', 'Akumina', 'Rocket Insights', 'ComplianceQuest', 'Valify', 'CampusLogic', 'Quadrant Resource', 'Motivosity', 'Real Plans', 'Radius Networks', 'Untappd', 'Fusion Recruiting Labs', 'Flipcause', 'ClockShark', 'Teachable', 'Epion Health', 'Alert Media', 'Discuss.io', 'Domino Data Lab', 'BentoBox CMS', '360ia', 'Cumulus Networks', 'Cloudbeds', 'Koddi', 'BLDG-25', 'Pymetrics', 'ShopPad', 'SimpleNexus', 'Green Bits', 'M2M In Motion', 'Seeq Corporation', 'Stackify', 'XY - The Persistent Company', 'PowerInbox', 'Realvolve', 'Edvenswa Tech', 'Mobile Text Alerts', 'Groove.co', 'G2', 'ClickFunnels', 'Algolia', 'Alkami Technology', 'Spotio', 'Kubikware', 'Rocket Referrals', 'Bonusly', 'ServiceTitan', 'Coulee Techlink', 'TicketSauce.com', 'Two Bulls', 'Peaxy', 'Harbor Compliance', 'BayInfotech', 'GridGain Systems', 'eduPresent', 'Sendlane', 'MobiChord', 'o9 Solutions', 'OneStream Software', 'VividCortex', 'Retention Science (ReSci)', 'Foundation Software Group', 'Piano', 'Gather', 'Option Alpha', 'AppsFlyer', 'STRATIS IoT', 'HookBang', 'Kipsu', 'Springbot', 'Weave Communications', 'Passport', 'IPfolio', 'CoSchedule', 'Hubstaff', 'ConversionPoint Technologies', 'ProcureIT Network', 'CentralReach', 'Brivity', 'RIVS', 'Everyware', 'Onit', 'Skuid', 'Forcura', 'Definitive Healthcare', 'Greenhouse Software', 'RevolutionParts', 'Swenson He', 'DataClover', 'Nuvolo']

Cluster 3
              rank       revenue    growth_%     workers  years_active
count   136.000000  1.360000e+02  136.000000  136.000000    136.000000
mean   3894.808824  1.732500e+07   88.456546  101.742647     18.875000
std     652.442766  2.022624e+07   26.950747  107.443490      6.942555
min    1958.000000  2.000000e+06   52.523200    9.000000      7.000000
25%    3440.500000  4.750000e+06   69.193300   32.500000     14.000000
50%    3894.500000  1.025000e+07   84.940450   65.500000     18.000000
75%    4361.000000  2.055000e+07  102.433500  119.000000     22.000000
max    4991.000000  1.146000e+08  205.340100  600.000000     42.000000



Company List - ['Scanco Software', 'Buffalo Computer Graphics', 'PrismHR', 'Unity FI Solutions', 'Corsis', 'BirdDogHR', 'Level Access', 'Tiempo Development', 'Spire Digital', 'RxNT', 'InfraWare', 'Kopis', 'Romaric Automation Design', 'Decisiv', 'PrinterLogic', 'SecureLink', 'Axispoint', 'PolicyPak', 'AltSource', 'Buildium', 'Backblaze', 'Mediafly', 'Aladtec', 'Dom & Tom', 'Building Engines', 'Arcos', 'Catchpoint', 'Greenphire', 'Broadleaf Commerce', 'Network Optix', 'Printfection', 'Limeade', 'Netwrix', 'Mobile Solutions', 'CadmiumCD', 'FieldEdge', 'BigTime Software', 'LBA Ware', 'Rev.io', 'Vision33', 'Softdocs', 'Foundant Technologies', 'DB Services', 'Momentum Factor', 'Tamarack Consulting', 'Operative IQ / EMS Technology Solutions', 'Gorilla Logic', 'RevenueWell', 'AgileEngine', 'Certent', 'Netgate', 'Alta Vista Technology', 'FastSpring', 'Wodify Technologies', 'EveryAction', 'Vergent LMS', 'Cerebra Consulting', 'Solodev', 'Netreo', 'InfoReady', 'In Time Tec', 'UpClear', 'Point of Rental Software', 'Pedigree Technologies', 'DaySmart Software', 'CMMS Data Group', 'inWhatLanguage', 'Optizmo Technologies', 'Unanet', 'Submittable', 'PowerDMS', 'Credible Behavioral Health', 'Kanda Software', 'Mindgrub Technologies', 'Impekable', 'Annkissam', 'WizeHive', 'MindTouch', 'BrandYourself.com', 'Centrify', 'MIE Solutions', 'CommerceIQ', 'PN Automation', 'CRM Passport', 'Black Mountain Systems', 'B2Gnow', 'Grasp Technologies', 'OnceLogix', 'Jackrabbit Technologies', 'Open Dealer Exchange', 'DBSync', 'Woolley Robertson Group', 'BoardPaq', 'Web Shop Manager', 'Planet DDS', 'Devada', 'JazzHR', 'Oxagile', 'Covenant Eyes', 'The Rainmaker Group', 'tap|QA', 'SPOL', 'Brilliant Infotech', 'Impiger Technologies', 'Five Star Connect', 'Faye Business Systems Group', 'EXB Solutions', 'Resonate', 'Ameex Technologies', 'TicketManager', 'Poetic Systems', 'Apex HCM', 'LuminFire', 'SwipeClock', 'Quantum Workplace', 'Internet Creations', 'RebelMouse', 'Goldenhelix', 'Consolidated Asset Recovery Systems', 'Scrimmage', 'Redtail Technology', 'Nexus Systems', 'Clarity Software Solutions', 'RF-Smart', 'Meridian Star POS', 'BizStream', 'Equus Software', '4CITE Marketing', 'CKD Technology Partners', 'SofterWare', 'Audacious Inquiry', 'Corevist', 'WorkForce Software', 'ClearlyRated', 'Film Solutions', 'Distillery']

The above data shows the companies which are clustered and what is their property

For e.g. Cluster 2 has much higher mean revenue growth %, but Cluster 0 has highest mean absolute revenue amount amongst all cluste

## As a result, companies in clusters 0 and 2 can be targeted over other clusters